input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  /* white icon */
  opacity: 0.5;
  cursor: pointer;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #1e1e1e inset !important;
  -webkit-text-fill-color: white !important;
}

.donate {
  opacity: 0;
  transform: scale(0.8) translateY(40px);
  transition: all 0.6s ease
}

.showD {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.current {
  opacity: 0;
  transform: scale(0.8) translateY(40px);
  transition: all 0.6s ease
}

.showC {
  opacity: 1;
  transform: scale(1) translateY(0);
}